# Data & outputs
data/
outputs/
ckpts/
logs/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.eggs/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Wandb
wandb/
